spring:
  application:
    name: availability
  cache:
    type: redis
    cache-names: availability
    redis:
      key-prefix: sb
      time-to-live: 1h
  redis:
    url: ${REDIS_PROTOCOL:redis}://${REDIS_CREDENTIALS:}${REDIS_HOST:localhost:6379}
  data:
    mongodb:
      uri: ${MONGO_PROTOCOL:mongodb}://${MONGO_CREDENTIALS:}${MONGO_HOST:localhost:27017}/${spring.application.name}
  cloud:
    discovery:
      client:
        simple:
          instances:
            sb-users:
              - uri: http://${SB_USERS_SERVICE:users:50051}
management:
  server:
    port: ${MANAGEMENT_PORT:8180}
  endpoint:
    health:
      probes:
        enabled: true
  endpoints:
    web:
      base-path: /
